
<div class="lg:flex lg:items-center lg:justify-between">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Alta Persona</h2>
      
    </div>
   
  </div>


<form #personaForm="ngForm" (ngSubmit)="submitForm(personaForm)" >

<div class=" bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="absolute inset-x-0 top-[-10rem] 
    -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" >
      <div class="relative left-1/2 -z-10 aspect-[1155/678] 
      w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] 
      bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] 
      sm:w-[72.1875rem]" 
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>

    
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <label for="first-name" class="block text-sm font-semibold leading-6 text-gray-900">Nombre</label>
          <div class="mt-2.5">
            <input 
            type="text" 
            autocomplete="given-name" 
            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm 
            ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 
            focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6
            "
            id="nombre" 
            name="nombre" 
            [(ngModel)]="persona.nombre"  
            required minlength="4" maxlength="50"
            #name="ngModel"
            >
            
          </div>
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert">
            <div *ngIf="name.hasError('required')">
                <div class=" text-rose-600"> Nombre es requerido.</div>
            </div>
            <div *ngIf="name.hasError('minlength')"  >
             <div class="text-rose-600"> Nombre al menos 4 caracteres.</div>
            </div>
            
            <div *ngIf="name.hasError('maxlength')"  >
                <div class="text-rose-600"> Nombre no mayor a 50 caracteres.</div>
               </div>
          </div>
        </div>
       
        <div>
            <label for="age" class="block text-sm font-semibold leading-6 text-gray-900">Edad</label>
            <div class="mt-2.5">
              <input class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 
              shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset 
              focus:ring-indigo-600 sm:text-sm sm:leading-6"
              type="number" id="edad" name="edad" [(ngModel)]="persona.edad" required
              >
            </div>
          </div>
          
      
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
          <div class="mt-2.5">
            <input 
            type="email"
            autocomplete="email" 
            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm 
            ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 
            focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            id="email"
             name="email"
              [(ngModel)]="persona.email"
               #mail="ngModel"
              required email
            >
          </div>
                <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
                class="alert">
                <div *ngIf="mail.hasError('email')">
                    <div class=" text-rose-600"> Mail incorrecto.</div>
                </div>
                <div *ngIf="mail.hasError('required')">
                    <div class=" text-rose-600"> Mail requerido.</div>
                </div>
            </div>
        </div>
       
       
      <div class="mt-10">
        <button type="submit" 
        class="block w-full rounded-md bg-blue-600
        px-3.5 py-2.5 text-center text-sm font-semibold text-white 
        shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 
        focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
        <div class="text-neutral-50">Alta</div>    
    </button>
      </div>
   
  </div>




  

